* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: black;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  input {
    font-size: 1.4rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
  }

  .logo{
    font-size: 3rem;
    padding: 1rem;
  }

  i{
    color: red;
  }
   
  .menu img{
    width: 80px;
    height: 80px;
    padding: 1rem;
  }

  nav ul{
    list-style-type: none;
    display: none;
  }


  nav ul li a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }


  header{
    display: flex;
    justify-content: space-between;
  }

  .sidebar{
    background-color: rgba(94, 94, 94, 0.8);
    width: 100%;
    height: 100vh;


    position: fixed;
    top: 0;


    left: -100%;

  transition: all 500ms;

  }

  div:target{
    left: 0;
  }
  .sidebar ul{
    list-style-type: none;
    height: 100%;
    padding: 3rem;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 5rem;
    
    
  }


  .sidebar ul li a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    
  }


  .banner{
    background-image: url('img/maick-maciel-_v8C6BlpBzY-unsplash.jpg');
    height: 300px;
    background-position: center;
    background-size: cover;
    object-fit: cover;

    display: flex;
    flex-direction: column;
  }


  .info{
    display: flex;
  }
  .head-1{
    font-size: 4rem;
    padding: 2rem;
    font-weight: bold;
    flex-basis: 50%;
  }


  .p-1{
    font-size: 1.6rem;
    padding: 2rem;
    flex-basis: 50%;

  }


  .dancers h1{
    font-size: 3rem;
    color: lightcoral;
    
    
    
  }

  .dancers p{
    font-size: 1.5rem;
    color: lightcoral;
  }


  .dancers{
    /* background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); */
    /* background: rgb(131,58,180);
background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(110,0,0,1) 0%, rgba(167,67,0,1) 10%, rgba(111,108,19,1) 20%, rgba(21,79,4,1) 30%, rgba(6,88,81,1) 40%, rgba(5,51,93,1) 50%, rgba(49,4,94,1) 60%, rgba(83,3,81,1) 70%, rgba(96,6,47,1) 80%, rgba(88,4,19,1) 90%, rgba(61,4,4,1) 100%); */
background: rgb(134,8,8);
background: linear-gradient(180deg, rgba(134,8,8,1) 0%, rgba(57,3,35,1) 50%, rgba(140,0,88,1) 100%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid grey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    transition: all 500ms;
  }

  .dancers:hover{
    transform: translateY(-15px);
    box-shadow: 0 0 10px white;
    
  }



  .all-dancers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }


  .sect-title{
    padding: 2rem;
    font-size: 3.5rem;
    font-weight: bold;
  }

.about-us{
  background-color:palevioletred;
  margin-top: 2.5rem;
}

.about{
  display: flex;
  flex-direction: column;
}
  .about-img {
    width: 100%;
    height: 300px;
    padding: 2rem;
    object-fit: cover;
  
    
   
   


    
  }

 
 


  .about p{
    font-size: 1.6rem;
   
    padding: 2rem;
  }


  .sect-title1{
    padding: 2rem;
    font-size: 3.5rem;
    font-weight: bold;
    color: red;
    text-align: center;
  }

.agenda-head {
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
}


.card{
  width: 300px;
  height: 400px;
  background-color:lightgrey;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

  box-shadow: 25px 25px 2px grey;

  transition: all 500ms;
}

.card:hover{
  transform: translateY(-15px);
  box-shadow: 0px 0px 10px whitesmoke;
}
.card img{
  width: 100%;
  height: 300px;
  padding: 2rem;
  object-fit: cover;

}


.card p{
  color: black;
  font-size: 1.6rem;
  
 
  
}


.agenda-card-wrapper{
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
 
  justify-content: center;
  align-items:center;
  gap: 6.5rem;
}


.sect-title2{
  padding: 2rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}


.guest-p{
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

.guest-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  
  
}


.g-image{
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid white;
  
  transition: all 500ms;
  
}

.g-image:hover{
  transform: scale(1.1);
}



.guest-image p{
  font-size: 3rem;
  text-align: center;
  padding-top: 1.5rem;
  
}


.dancer-wrapper a{
  font-size: 2.5rem;
  text-decoration: none;
  padding: 2rem;
  color: red;
  transition: all 500ms;
}


.dancer-wrapper a:hover{
  color: grey;
}


.all-info{
  display: flex;
  flex-direction: column;
}
.s-map{
  display: flex;
  justify-content: center;
  align-items: center;
}
.map p{
  font-size: 2.5rem;
  text-align: center;

}


iframe{
  width: 90%;
  padding: 2rem;
}


footer{
  padding-top: 4rem;
  background-color: darkgray;
}
footer a{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 2rem;
}

footer p{
  font-size: 1.5rem;
  color: black;
}

.footer-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.f-info a{
  color: blue;
  text-decoration: underline;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form h2{
  flex-basis: 40%;
  padding: 2rem;
  text-align: center;
}
input{
  width: 63%;
  height: 30px;
  flex-basis: 45%;
}


.sub-btn{
  width: 30%;
  height: 30px;
  border-radius: 10px;
  background-color: red;
  flex-shrink: 15%;
  
}


.sub-btn:hover{
  background-color: rgb(176, 99, 99);
}

form{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}